@page "/admin/leavetypes/create"
@attribute [Authorize(Roles = "Administrator")]
@inject ILeaveTypeApi LeaveTypeApi
@inject NavigationManager NavigationManager

<h3 class="mb-4">Create Leave Type</h3>

<EditForm Model="CreateEditLeaveTypeParameters" OnValidSubmit="OnValidSubmit" class="needs-validation">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="name">Name:</label>
        <InputText id="name" class="form-control" @bind-Value="CreateEditLeaveTypeParameters.Name" />
    </div>

    <p>@message</p>
    <button type="submit" class="btn btn-primary">Create Leave Type</button>
</EditForm>

@code {
    private string? message;
    private CreateEditLeaveTypeParameters CreateEditLeaveTypeParameters = new CreateEditLeaveTypeParameters();

    private async Task OnValidSubmit()
    {
        await LeaveTypeApi.CreateLeaveType(CreateEditLeaveTypeParameters);
        message = "Leave type created successfully.";
        CreateEditLeaveTypeParameters = new CreateEditLeaveTypeParameters(); // Clear the form
        StateHasChanged(); // Force the page to refresh and show the message
    }
}